<!--<div class="form-group">
	<label for="filtro">Filtrar</label>
	<input id="filtro" ng-model="filtro" type="text" class="form-control">
</div>-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <button type="button" class="list-group-item active" ng-click="cursosSugeridos()" >Cursos Sugeridos</button>
        <button type="button" class="list-group-item" ng-click="cursosSeguidos()">Cursos Que Sigues</button>
        <button type="button" class="list-group-item">Mis Cursos</button>
      </div>
    </div>
    <div class="col-md-9">
      
      <div class="panel panel-default" ng-repeat="curso in cursos">
        <div class="panel-heading"><strong style="text-transform: uppercase;">{{curso.Titulo}}</strong></div>
        <div class="panel-body">
            <p class="list-group-item-text"><strong>Organizador: </strong>{{curso.Organizador}}</p>
            <p class="list-group-item-text"><strong>Duracion: </strong>{{curso.FechaInicio | date : 'MM/dd/yyyy'}} - {{curso.FechaFin | date : 'MM/dd/yyyy'}}</p>
            <p class="list-group-item-text"><strong>Ciudad: </strong>{{curso.Ciudad}}</p>
            <p class="list-group-item-text"><strong>Costo: </strong>{{curso.Costo}}</p>
            <p class="list-group-item-text"><strong>Descripcion: </strong>{{curso.Descripcion}}</p>
        </div>
        <div class="panel-footer"><button type="button" class="btn btn-success" ng-click="seguir({{sugerenciasUsuarioCurso.CodigoCurso}})">Seguir Curso</button></div>
      </div>

    </div>
  </div>
</div>

<div class="form-group">
<label for"interesfiltro">Interes</label>
<select id="interesfiltro" class="form-control" ng-model="filtro">
  <option value="Todos">Todos</option>
  <option ng-repeat="interes in intereses" value="{{interes.CodigoInteres}}">{{interes.Nombre}}</option>
</select>
<div class="form-group">  
    <label for"ciudad">Ciudad</label>
    <select id="ciudad" ng-model="ciudad" class="form-control" required>
      <option>Todos</option>
      <option>Cochabamba</option>
      <option>La Paz</option>
      <option>Oruro</option>
      <option>Tarija</option>
      <option>Santa Cruz</option>
      <option>Potosi</option>
      <option>Beni</option>
      <option>Pando</option>
      <option>Chuquisaca</option>
    </select> 
</div>
<div class="form-group">
	<button id="btnFiltrar" class="form-control" class="btn btn-success" ng-click="filtrar()">Filtrar</button>
</div>

<div class="panel panel-default" ng-repeat="curso in cursos">
  <div class="panel-heading">{{curso.Titulo}}</div>
  <div class="panel-body">
    	<p class="list-group-item-text">{{curso.Organizador}}</p>
    	<p class="list-group-item-text">{{curso.FechaInicio}}</p>
    	<p class="list-group-item-text">{{curso.FechaFin}}</p>
    	<p class="list-group-item-text">{{curso.Ciudad}}</p>
    	<p class="list-group-item-text">{{curso.Costo}}</p>
    	<p class="list-group-item-text">{{curso.Descripcion}}</p>
    	<br>
  		<!--<a href="#/nuevocurso" class="list-group-item-text">
  		</a>-->
      <button type="button" class="btn btn-info" ng-click="seguir({{curso.CodigoCurso}})">Info de {{curso.CodigoCurso}}</button>
  </div>
</div> 