<div class="col-md-3">
	<div class="panel panel-default" ng-repeat="curso in cursos">
	    <div class="panel-heading"><strong style="text-transform: uppercase;">{{curso.Titulo}}</strong></div>
	    <div class="panel-body">
	        <p class="list-group-item-text"><strong>Descripcion: </strong>{{curso.Descripcion}}</p>
	    </div>
	    <div class="panel-footer">
	       <button type="button" class="btn btn-success" ng-click="mostrar({{curso.CodigoCurso}})">Mostrar</button>
	    </div>

	</div>
</div>
<div class="col-md-7">
	<table class="table">
	  <thead>
	    <th>Nombre</th>
	    <th>Apellido</th>
	    <th>Correo</th>
	    <th>Area</th>
	  </thead>
	  <tbody>
	    <tr ng-repeat="usuario in usuarios">
	      <td>{{usuario.Nombre}}</td>
	      <td>{{usuario.Apellidop}}</td>
	      <td>{{usuario.Correo}}</td>
	      <td>{{usuario.Rubro}}</td>
	    </tr>
	  </tbody>
	</table>
</div>

