<h2> Perfil de Usuario</h2>
<form role="form" ng-hide="perfilUsuario">
	<div class="form-group">
		<label for="nombre">Nombre</label>
		<div>{{usuariop.Nombre}}</div>
	</div>
	<div class="form-group">
		<label for="apellido">Apellido</label>
		<div>{{usuariop.Apellidop}}</div>
	</div>
	<div class="form-group">
		<label for="apellidoMaterno">Apellido Materno</label>
		<div>{{usuariop.Apellidom}}</div>
	</div>
	<div class="form-group">	
		<label for="correo">Email</label>
		<div>{{usuariop.Correo}}</div>
	</div>
	<div class="form-group">	
		<label for"rubro">Rubro</label>
		<div>{{usuariop.Rubro}}</div>
	</div>
	<div class="form-group">	
		<label for"ciudad">Ciudad</label>
		<div>{{usuariop.Ciudad}}</div>
	</div>
	<div class="form-group">
		<button id="btnEditar" type="button" class="btn btn-primary" ng-click="editar()">Editar Datos</button>
	</div>
</form>
<form ng-show="editarDatos">
	<div>
		<label for="nombre">Nombre </label>
		<input id="nombre" ng-model="usuariop.Nombre" type="text" class="form-control" required="required">
	</div>
	<div>
		<label for="apellidop">Apellido Paterno</label>
		<input id="apellidop" ng-model="usuariop.Apellidop" type="text" class="form-control" required="required">
	</div>
	<div>
		<label for="apellidom">Apellido Materno</label>
		<input id="apellidom" ng-model="usuariop.Apellidom" type="text" class="form-control" required="required">
	</div>
	<div>
		<label for="rubro">Rubro</label>
		<input id="rubro" ng-model="usuariop.Rubro" type="text" class="form-control" required="required">
	</div>
	<div>
		<label for="ciudad">Ciudad</label>
		<input id="ciudad" ng-model="usuariop.Ciudad" type="text" class="form-control" required="required">
	</div>
	<br>
	<div class="form-group">
		<button id="btnGuardar" type="button" class="btn btn-primary" ng-click="guardar()">Guardar Cambios</button>
	</div>
</form>
<form role="form" ng-hide="perfilUsuarioPassword">
	<div class="form-group">
		<label for="username">Username</label>
		<div id="username">{{usuariop.Username}}</div>
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<div id="password">*********</div>
	</div>
	<div class="form-group">
		<button id="btnEditar" type="button" class="btn btn-primary" ng-click="editarPassword()">Cambiar Password</button>
	</div>
</form>
<form ng-show="editarDatosPassword">
	<div>
		<label for="username">Username</label>
		<input id="username" ng-model="usuariop.Username" type="text" class="form-control" required="required">
	</div>
	<div>
		<label for="password">Password</label>
		<input id="password" ng-model="ActualPassword" type="password" class="form-control" required="required">
	</div>
	<div>
		<label for="nuevopassword">Nuevo Password</label>
		<input id="nuevopassword" ng-model="NuevoPassword" type="password" class="form-control" required="required">
	</div>
	<div>
		<label for="confirmarnuevopassword">Confirmar Nuevo Password</label>
		<input id="confirmarnuevopassword" ng-model="ConfirmarNuevoPassword" type="password" class="form-control" required="required">
	</div>
	<br>
	<div class="form-group">
		<button id="btnGuardar" type="button" class="btn btn-primary" ng-click="guardarPassword()">Guardar Cambios</button>
	</div>
</form>
