<form role:"form">
	<div class="form-group">
		<label for="nombre">Nombre</label>
		<input id="nombre" ng-model="nombre" type="text" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="apellido">Apellido</label>
		<input id="apellido" ng-model="apellido" type="text" class="form-control" required> 
	</div>
	<div class="form-group">
		<label for="apellidoMaterno">Apellido Materno</label>
		<input id="apellidoMaterno" ng-model="apellidoMaterno" type="text" class="form-control" required> 
	</div>
	<div class="form-group">	
		<label for="correo">Email</label>
		<input id="correo" ng-model="correo" type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
	</div>
	<div class="form-group">
		<label for="username">Username</label>
		<input id="username" ng-model="username" type="text" class="form-control" required> 
	</div>
	<div class="form-group">	
		<label for="password">Password</label>
		<input id="password" ng-model="password" type="password" class="form-control" required>
	</div>
	<div class="form-group">	
		<label for"rubro">Rubro</label>
		<select id="rubro" ng-model="rubro" class="form-control" required>	
			<option>Administracion de empresas</option>
			<option>Administracion turistica</option>
		</select>	
	</div>
	<div class="form-group">	
		<label for"ciudad">Ciudad</label>
		<select id="ciudad" ng-model="ciudad" class="form-control" required>
			<option>Cochabamba</option>
			<option>La Paz</option>
			<option>Oruro</option>
			<option>Tarija</option>
			<option>Santa Cruz</option>
			<option>Potosi</option>
			<option>Beni</option>
			<option>Pando</option>
			<option>Chuquisaca</option>
		</select>	
	</div>
	<div>
		<label for="fecha">Fecha</label>
		<input id="fecha" ng-model="fecha" type="date" class="form-control" required>
	</div>
	<br>
	<button id="btnRegistar" type="button" class="btn btn-primary" ng-click="registrar()">Registrar</button>
</form>